{{template "layout" .}}

{{define "title"}}
	About team project-game
{{end}}

{{define "content"}}
<h1 class="title">project-gang about page</h1>
<ul>
<li>hilarious-barracuda</li>
<li>splendid-yak</li>
<li>brave-emu</li>
<li>team-nickname</li>
<li>team-nickname</li>
</ul>
{{end}}
